body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    margin: 0; /* Ensure there's no unwanted margin */
}

#timer {
    font-size: 56px;
    margin-bottom: 20px;
    color: #ffffff;
}
#gametimer{
    align-items: normal;
    margin-top: 10px;
    font-size: 56px;
    height: 150px;
    color: #ffffff;
}
#game {
    text-align: center;
    display: none;
}

#website {
    background-color: rgb(0, 0, 0);
}

#character {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 500px;
    left: 50px;
    transition: top 200ms ease-out;
}

#enemy {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 500px;
    right: 100px;
}

#gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#restart {
    display: block;
    margin: 0 auto; /* Horizontally center the button */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Ensure text is centered inside the button */
}

#restart:hover {
    background-color: #45a049;
}

#restart:focus {
    outline: none; /* Remove focus outline for better aesthetics */
}
